*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body>header{
    padding: 40px;
    margin-bottom: 20px;
    background-color: cadetblue;
}
nav{
    background-color: coral;
}
main{
    background-color: cornflowerblue;
}